{% extends 'cameo/base.html' %}

{% block body %}
<style>
    .sale-table {
        background-color: #252525 !important;
        color: white;
        text-align: center;
    }

    .order:hover {
        background-color: gray;
        cursor: pointer;
        transition: .3s;
    }

    .modal-footer {
        background-color: #1c1c1c;
        border-top: 0px;
    }

    .basic-info {
        display: flex;
        justify-content: space-between;
    }

    .instruction {
        background-color: #252525;
        padding: 1rem;
        border-radius: 5px;
        min-height: 100px;
    }

    .file-input,
    .file-input:focus {
        color: white;
        background-color: #252525;
        border: 0px;
    }

    .errors {
        background-color: #1c1c1c;
        color: rgb(255, 3, 124);
        padding: 5px 10px;
        display: grid;
        place-items: center;
        padding-bottom: 20px;
    }

    .cameo-video-container {
        margin-top: 30px;
        text-align: center;
        color: rgb(255, 3, 124);
        font-size: 20px;
        font-weight: bold;
    }

    .cameo-video {
        margin: 0px;
    }

    .cameo-video:focus {
        outline: none;
    }

    .decline-reason {
        margin: 10px 20px;
        padding: 10px;
        display: none;
        border-color: rgb(255, 3, 124);
        border-radius: 7px;
        color: white;
        background-color: #252525 !important;
    }

    .modal-content {
        background-color: #1c1c1c;
    }

    .decline-reason:focus {
        outline: none;
    }

    .btn-decline-submit {
        display: none;
    }

    .btn-success-decline {
        display: none;
    }

    .decline-message {
        margin-left: 2rem;
        color: rgb(255, 3, 124);
        display: none;
    }
</style>
<div id="purchase" class="container mt-3">
    <table class="table sale-table">
        <thead>
            <tr>
                <th scope="col">#Order ID</th>
                <th scope="col">Cameo</th>
                <th scope="col">Occasion</th>
                <th scope="col">Status</th>
                <th scope="col">Payment Method</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in purchases %}
            <tr class="order" data-bs-toggle="modal" data-bs-target="#modal-{{purchase.order_id}}">
                <th scope="row">{{purchase.order_id}}</th>
                <td scope="row">{{purchase.cameo.first_name}} {{purchase.cameo.last_name}}</td>
                <td scope="row">{{purchase.occasion}}</td>
                <td scope="row">{{purchase.order_status}}</td>
                <td scope="row">{{purchase.payment_method}}</td>
                <!-- modal -->
                <div class="modal fade" id="modal-{{purchase.order_id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">#{{purchase.order_id}}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="sale-detail-container">
                                    <p>Requested User: {{purchase.requested_user_username}}</p>
                                    <div class="basic-info">
                                        {% if purchase.fromName != None %}
                                        <p>From: {{purchase.fromName}}</p>
                                        {% else %}
                                        <p
                                            style="padding: 1px 7px;background-color: rgb(255, 3, 124);border-radius: 1000px;">
                                            Self</p>

                                        {% endif %}
                                        <p>To: {{purchase.toName}}</p>
                                    </div>
                                    <div class="detail-info">
                                        <div class="basic-info">
                                            {% if purchase.pronounce != None %}
                                            <p>Pronounce: {{purchase.pronounce|title}}</p>
                                            {% endif %}
                                            <p>Occasion: {{purchase.occasion}}</p>
                                        </div>
                                        <div class="intructions-container">
                                            <p style="margin: 0px;">Instructions</p>
                                            <div class="instruction">
                                                <p>{{purchase.instructions}}</p>
                                            </div>
                                        </div>
                                        {% if purchase.order_status == "Completed" or purchase.order_status == "Completed Request" %}
                                        <div class="cameo-video-container">
                                            <video style="width: 100%;" id="cameo-video-{{sale.order_id}}"
                                                class="cameo-video" src="{{purchase.file.first.cameo_file.url}}"
                                                preload="auto" controls autoplay></video>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <p class="decline-message" id="decline-message-error-{{purchase.order_id}}">Decline
                                message
                                shouldn't be empty*</p>
                            <textarea required name="decline-reason" placeholder="Decline reason..."
                                id="decline-reason-{{purchase.order_id}}" class="decline-reason" cols="30"
                                rows="5"></textarea>
                            {% if not purchase.is_accepted %}
                            {% if not purchase.order_status == 'initiated' %}
                            {% if not purchase.decline_reason %}
                            <div class="modal-footer" id="modal-btn-{{purchase.order_id}}">
                                <button @click="accept({{purchase.order_id}})" id="btn-accept-{{purchase.order_id}}"
                                    type="button" class="btn btn-success">Accept</button>
                                <button type="button" class="btn btn-danger" id="btn-decline-{{purchase.order_id}}"
                                    @click="openDeclineTextArea({{purchase.order_id}})">Decline</button>
                                <button type="submit" class="btn btn-success btn-success-decline"
                                    id="btn-decline-submit-{{purchase.order_id}}"
                                    @click="decline({{purchase.order_id}})">Decline</button>
                            </div>
                            {% else %}
                            <p style="margin: 0 auto;margin-bottom: 20px;color: rgb(255, 3, 124);">You're declined this
                                cameo</p>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                        </div>


            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script defer>
    let purchaseApp = new Vue({
        el: "#purchase",
        delimiters: ["[[", "]]"],
        data: {
            showDeclineReason: false,
        },
        methods: {
            accept: async function (order_id) {
                try {
                    var response = await axios.get(`/order/accept/${order_id}`, {
                        headers: {
                            Authorization: `Token ${localStorage.getItem("auth_token")}`
                        }
                    })
                    document.getElementById("modal-btn-" + order_id).style.display = "none";
                    setTimeout(()=>{
                        window.location.reload(), 1500
                    })
                } catch (error) {
                    throw error
                }
            },
            openDeclineTextArea: function (order_id) {
                document.getElementById("btn-accept-" + order_id).style.display = "none"
                document.getElementById("decline-reason-" + order_id).style.display = 'block';
                document.getElementById("btn-decline-" + order_id).style.display = 'none';
                document.getElementById("btn-decline-submit-" + order_id).style.display = 'block';


            },
            closeDeclineTextArea: function (order_id) {
                document.getElementById("decline-reason-" + order_id).style.display = 'none';
            },
            decline: async function (order_id) {
                let reasonMessage = document.getElementById("decline-reason-" + order_id).value
                if (reasonMessage.length <= 0) {
                    alert("Decline message shouldn't be empty")
                } else {
                    try {
                        const data = new FormData()
                        data.append("order_id", order_id)
                        data.append("reason", reasonMessage)
                        var response = await axios.post(`/order/decline`, data, {
                            headers: {
                                "Content-Type": "application/json",
                                "Authorization": `Token ${localStorage.getItem("auth_token")}`
                            }
                        })
                        document.getElementById("modal-btn-" + order_id).style.display = "none";
                        window.location.reload()
                    } catch (error) {
                        throw error
                    }
                }
            }
        }
    })
</script>
{% endblock %}