{% extends 'cameo/base.html' %}
{% block body %}
<style>
    .container {
        margin-bottom: 2.5rem;
        background-color: rgb(28, 28, 28);
        border-radius: 10px;
        padding: 10px 1rem;
    }

    .celeb-user {
        display: flex;
        justify-content: center !important;
        align-items: center;
        flex-direction: column;
    }

    .celeb-image {
        border-radius: 150px;
        width: 100px;
        height: 100px;
        margin: 1.6rem;
        border: 3px solid white
    }

    .celeb-name {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .for-icon {
        font-size: 1.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .request-icon {
        border: 2px solid white;
        height: 50px;
        width: 50px;
        display: grid;
        place-items: center;
        border-radius: 100px;
        margin: 0px 1rem;
    }

    .request-type {
        margin: 0px 1rem;
        display: grid;
        place-items: center;
    }

    .request-type:hover>.request-icon {
        cursor: pointer;
        background-color: rgb(17, 17, 17);
    }

    .request-active {
        border: 2px solid rgb(255, 3, 124);
        background-color: rgb(17, 17, 17);
    }

    .request-type:hover {
        cursor: pointer;
    }

    .request-detail {
        width: 70%;
    }

    .request-to {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.219);
        padding: 7px 10px;
        border-radius: 5px;
        height: 55px;
    }

    .request-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-select {
        background-color: transparent;
    }

    .request-pron-select {
        border: 1px solid rgba(255, 255, 255, 0.219);
        background-color: transparent;
        height: 55px;
    }

    .request-select-items {
        background-color: rgb(28, 28, 28);
    }

    .request-occasion-title {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .occasion-container {
        gap: 1rem;
        margin: 0 auto;
        width: 60%;
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .occasion-icon {
        margin: 0 auto;
        display: grid;
        place-items: center;
        border: 2px solid rgba(255, 255, 255, 0.425);
        width: 50px;
        height: 50px;
        border-radius: 100px;
    }

    .occasion-name {
        font-size: .8rem;
    }

    .occasion-container div:hover {
        cursor: pointer;
    }

    .occasion-container div:hover>.occasion-icon {
        background-color: rgb(17, 17, 17);
    }

    .occasion-active {
        border: 2px solid rgb(255, 3, 124);
        background-color: rgb(17, 17, 17);
    }

    #celeb-container {
        padding: 2rem 15%;
    }

    .user-instructions-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-instructions {
        background-color: transparent;
        color: white;
    }

    .user-instructions:active {
        background-color: transparent;
        color: white;
    }

    .user-instructions:focus {
        background-color: transparent;
        color: white;
    }

    .btn-continue-detail {
        background-color: rgb(255, 3, 124);
        color: white;
        width: 65%;
        margin: 10px auto;
    }

    .btn-continue-detail:hover {
        color: white !important;
    }

    @media screen and (max-width:800px) {
        .occasion-container {
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0px 0px;
            width: 100%;
        }

        #celeb-container {
            padding: 2rem 5%;
        }

        .request-detail {
            width: 100%;
        }
    }

    @media screen and (max-width:500px) {
        .occasion-container {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
<form method="POST" id="book-celebrity">
    {% if messages %}
<div style="margin: 10px;">
    <div class="messages">
        {% for message in messages %}
        {% if not message.tags == 'authentication success' %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <p style="margin: 0px;">{{message}}</p>
            <button type="button" class="btn-close btn-sm btn-alert" data-bs-dismiss="alert"
                aria-label="Close"></button>
        </div>
        {% else %}
        <script>
            localStorage.setItem('auth_token', "{{message}}")
        </script>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endif %}
    <div class="container">
        <div class="celeb-user">
            <img class="celeb-image" src="{{cameo.image.url}}" alt="">
            <p class="celeb-name">New request for Lily Allen</p>
            <p style="font-size: 1.1rem;">Who is this for?</p>
            <p style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);"
                v-if="error.find((element)=>element == 'receipent')">*Please select the receipent
            </p>
            <div class="for-icon">
                <input type="text" name="request-type" :value="receipent" hidden>
                <div @click="toggleGift" class="request-type">
                    <div class="request-icon" :class="{ 'request-active': receipent == 'gift' }">
                        <i class="fas fa-gifts"></i>
                    </div>
                    <p style="font-size: .8rem;">Someone else</p>
                </div>
                <div @click="toggleMyself" class="request-type">
                    <div class="request-icon" :class="{ 'request-active': receipent == 'myself' }">
                        <i class="fas fa-user"></i>
                    </div>
                    <p style="font-size: .8rem;">Myself
                    <p>
                </div>
            </div>
            <div class="request-detail">
                <div class="request-input-container ">
                    <p v-if="error.find((element)=>element == 'to')"
                        style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);">*This field
                        is
                        required</p>
                    <label for="to">To</label>
                    <input placeholder="John" v-model="to" type="text" name="to" class="request-to text-white">
                </div>
                <div v-if="receipent == 'gift'" class="request-input-container">
                    <p v-if="error.find((element)=>element == 'from')"
                        style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);">*This field
                        is required</p>
                    <label for="from">From</label>
                    <input v-model="from" style="color: white;" placeholder="James" type="text" name="from"
                        class="request-to">
                </div>
                <p v-if="error.find((element)=>element == 'pronounce')"
                    style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);">*This field
                    is
                    required</p>
                <label for="pronounce">Pronounce</label>
                <select v-model="pronounce" class="request-pron-select text-white mb-5 form-select" name="pronounce"
                    aria-label="Default select example">
                    <option class="request-select-items" selected>Select...</option>
                    <option class="request-select-items" value="they/them">They/Them: "Wish them a happy birthday!"
                    </option>
                    <option class="request-select-items" value="she/her">She/Her: "Wish her a happy birthday!"</option>
                    <option class="request-select-items" value="he/him">He/Him: "Wish him a happy birthday!"</option>
                    <option class="request-select-items" value="inrequest">Pronoun not listed - will clarify in request
                    </option>

                </select>
            </div>
        </div>
    </div>
    <div class="container" id="celeb-container">
        <p v-if="error.find((element)=>element == 'occasion')"
            style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);">*Please select the
            occasion</p>
        <p class="request-occasion-title">Select an occasion</p>

        <input type="text" hidden :value="occasion">
        <div class="occasion-container">
            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'none' }" @click="()=>selectOccasion('none')"
                    class="occasion-icon">
                    <i class="far fa-times-circle"></i>
                </div>
                <p class="occasion-name">None</p>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'gift' }" @click="()=>selectOccasion('gift')"
                    class="occasion-icon">

                    <i class="fas fa-gift"></i>

                </div>
                <p class="occasion-name">Gift</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'aniversary' }" @click="()=>selectOccasion('aniversary')"
                    class="occasion-icon">

                    <i class="fas fa-user-friends"></i>

                </div>
                <p class="occasion-name">Aniversary</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'announcement' }"
                    @click="()=>selectOccasion('announcement')" class="occasion-icon">

                    <i class="fas fa-smile"></i>

                </div>
                <p class="occasion-name">Announcement</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'question' }" @click="()=>selectOccasion('question')"
                    class="occasion-icon">

                    <i class="fas fa-comment-alt"></i>

                </div>
                <p class="occasion-name">Question</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'advice' }" @click="()=>selectOccasion('advice')"
                    class="occasion-icon">

                    <i class="fas fa-anchor"></i>

                </div>
                <p class="occasion-name">Get advice</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'wedding' }" @click="()=>selectOccasion('wedding')"
                    class="occasion-icon">

                    <i class="fas fa-heart"></i>

                </div>
                <p class="occasion-name">Wedding</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'thanksgiving' }"
                    @click="()=>selectOccasion('thanksgiving')" class="occasion-icon">

                    <i class="fas fa-heart"></i>

                </div>
                <p class="occasion-name">Give Thanks</p>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'birthday' }" @click="()=>selectOccasion('birthday')"
                    class="occasion-icon">

                    <i class="fas fa-gift"></i>

                </div>
                <p class="occasion-name">Birthday</p>
            </div>
            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'roast' }" @click="()=>selectOccasion('roast')"
                    class="occasion-icon">

                    <i class="fab fa-hotjar"></i>

                </div>
                <p class="occasion-name">Roast</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'peptalk' }" @click="()=>selectOccasion('peptalk')"
                    class="occasion-icon">

                    <i class="fas fa-pepper-hot"></i>

                </div>
                <p class="occasion-name">Pep Talk</p>
            </div>

            <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
                <div :class="{ 'occasion-active': occasion == 'other' }" @click="()=>selectOccasion('other')"
                    class="occasion-icon">

                    <i class="fas fa-star"></i>

                </div>
                <p class="occasion-name">Other</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="user-instruction-container">
            <p style="font-size: 1.3rem;font-weight: bold;">Instructions</p>
            <p v-if="error.find((element)=>element == 'instructions')"
                style="font-size: .9rem;font-weight: normal;margin: 0px;color: rgb(255, 3, 124);">*Please specify your
                requirements in detail</p>
            <p style="margin-bottom: 3px;">My instruction for {{cameo.first_name|add:" "|add:cameo.last_name}} are</p>
            <textarea v-model="instructions" style="margin-bottom: 1rem;" name="instruction" id="" cols="30" rows="7"
                placeholder="My partner (Tom) is turning 34 on Friday. Please wish him a happy birthday from me (Cary). We’ve been together for 3 yrs & met on Tinder. He’s your biggest fan - a bday shoutout from you will make his day!"
                class="form-control user-instructions"></textarea>
            <p style="font-size: 1.1rem;color: rgba(255, 255, 255, 0.425);">Don't forget to add pronunciation, it really
                helps.</p>
            <div class="form-check">
                <input style="background-color: rgb(255, 3, 124);" v-model="hideCameo" class="form-check-input "
                    type="checkbox" value="" id="flexCheckDefault">
                <label style="font-size: 1.1rem;" class="form-check-label" for="flexCheckDefault">
                    Hide this video from {{cameo.first_name|add:" "|add:cameo.last_name}}'s profile
                </label>
            </div>
            <p v-if="error.length > 0" style="font-size: .9rem;font-weight: bol;margin: 0px;color: rgb(255, 3, 124);">
                *Please
                scroll up and
                fix the error*</p>
            <div style="width: 100%;display: grid;place-items: center;" class="mt-2">
                <button v-if="!loading" @click="submitRequest" class="btn btn-continue-detail">Continue</button>
                <button v-if="loading" class="btn btn-continue-detail">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
</form>

<script defer type="application/javascript">
    var app = new Vue({
        el: '#book-celebrity',
        delimiters: ['[[', ']]'],
        data: {
            loading: false,
            receipent: '',
            occasion: '',
            to: '',
            from: '',
            pronounce: '',
            instructions: '',
            hideCameo: false,
            error: []
        },
        methods: {
            toggleGift: function () {
                this.receipent = 'gift'
            },
            toggleMyself: function () {
                this.receipent = 'myself'
            },
            selectOccasion: function (occasion) {
                this.occasion = occasion
            },
            submitRequest: async function (e) {
                e.preventDefault()
                this.loading = true
                this.error = []
                console.log(this.to, this.pronounce, this.instructions, this.hideCameo, this.receipent, this.occasion)
                if (this.receipent == '') {
                    this.error.push('receipent')
                }
                if (this.occasion == '') {
                    this.error.push('occasion')
                }
                if (this.to == '') {
                    this.error.push('to')
                }
                if (this.pronounce == '') {
                    this.error.push('pronounce')
                }
                if (this.instructions == '') {
                    this.error.push('instructions')
                }
                if (this.receipent == 'gift') {
                    if (this.from == '')
                        this.error.push('from')
                }
                if (this.error.length == 0) {

                    let data = new FormData();
                    data.append("to", this.to)
                    data.append("receipent", this.receipent)
                    data.append("occasion", this.occasion)
                    data.append("instructions", this.instructions)
                    data.append('cameo_id', "{{cameo.id}}")
                    data.append('cameo_username', "{{cameo.username}}")
                    data.append('pronounce', this.pronounce)

                    if (this.receipent == 'gift') {
                        data.append("from", this.from)
                    }
                    data.append("hideCameo", this.hideCameo)
                    try {
                        var response = await axios.post('/book/create-booking/', data, {
                            headers: {
                                "Authorization":`Token ${localStorage.getItem('auth_token')}`,
                                "Content-Type": "application/json"
                            }
                        })
                        this.loading = false
                        location.href = `/payment/start/stripe/${response.data.order_id}`
                    }
                    catch (e) {
                        console.warn(e);
                    }
                }
                this.loading = false
            }
        }
    })
</script>
{% endblock %}