{% extends 'cameo/base.html' %}

{% block body %}
<style>
    .payment-global-container {
        padding: 0px 7rem;
        margin-top: 10px;
    }

    .container {
        margin-bottom: 2.5rem;
        background-color: rgb(28, 28, 28);
        border-radius: 7px;
        padding: 2rem 3rem;
    }

    .celeb-user {
        display: flex;
        justify-content: center !important;
        /* align-items: center; */
        flex-direction: column;
    }

    .celeb-image {
        border-radius: 150px;
        width: 100px;
        height: 100px;
        margin: 1.6rem;
        border: 3px solid white
    }

    .celeb-name {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .for-icon {
        font-size: 1.5rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .request-icon {
        border: 2px solid white;
        height: 50px;
        width: 50px;
        display: grid;
        place-items: center;
        border-radius: 100px;
        margin: 0px 1rem;
    }

    .request-type {
        margin: 0px 1rem;
        display: grid;
        place-items: center;
    }

    .request-type:hover>.request-icon {
        cursor: pointer;
        background-color: rgb(17, 17, 17);
    }

    .request-active {
        border: 2px solid rgb(255, 3, 124);
        background-color: rgb(17, 17, 17);
    }

    .request-type:hover {
        cursor: pointer;
    }

    .request-detail {
        width: 70%;
    }

    .request-to {
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.219);
        padding: 7px 10px;
        border-radius: 5px;
        height: 55px;
    }

    .request-input-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;
    }

    .form-select {
        background-color: transparent;
    }

    .request-pron-select {
        border: 1px solid rgba(255, 255, 255, 0.219);
        background-color: transparent;
        height: 55px;
    }

    .request-select-items {
        background-color: rgb(28, 28, 28);
    }

    .delivery-type-container {
        width: 60%;
        background-color: rgb(37, 37, 37);
        border-radius: 3px;
        margin: 0px auto;
        padding: 1rem 2rem;
    }

    .payment-section-heading {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .summary-container {
        width: 60%;
        margin: 0px auto;
        overflow: hidden;
    }

    .summary-heading-container {
        background-color: rgb(37, 37, 37);
        padding: 1rem 2rem;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        border-radius: 7px 7px 0px 0px;
        position: relative;
        border-bottom: 1px dashed rgba(255, 255, 255, 0.466);
    }

    .cut-left {
        width: 50px;
        height: 40px;
        border-radius: 100px;
        position: absolute;
        bottom: -25px;
        left: -35px;
        background-color: rgb(28, 28, 28);
    }

    .cut-right {
        width: 50px;
        height: 40px;
        border-radius: 100px;
        position: absolute;
        bottom: -25px;
        background-color: rgb(28, 28, 28);
        right: -35px;
    }

    .summary-body-container {
        background-color: rgb(37, 37, 37);
        padding: 1rem 2rem;
    }

    .receipt-row {
        font-size: 1.2rem;
        display: flex;
        justify-content: space-between;
    }

    .delivery-radio:checked {
        background-color: transparent;
        border: 2px solid rgb(255, 3, 124);
    }
    .payment-button{
        width: 90%;
        margin: 0px auto;
    }

    @media screen and (max-width:800px) {
        .payment-global-container {
            padding: 0px 1rem;
        }

        .container {
            max-width: 100%;
        }

        .summary-container {
            width: 90%;
        }

        .delivery-type-container {
            width: 90%;
        }
    }
    .delivery-section-typography{
        font-size: 1.1rem;
        line-height: 1.3;
    }
    .delivery-section-subtitle{
        font-size: .9rem;
    }
    @media screen and (max-width:550px) {
        .container {
            padding: 1rem .5rem;
        }

        .payment-global-container {
            padding: 0px .5rem;
        }
        .receipt-row{
            font-size: 1rem;
        }
        .delivery-section-typography{
            font-size: .9rem;
            margin: 1rem 0px;
        }
        .delivery-section-subtitle{
            font-size: .8rem;
        }
    }
</style>
<div class="payment-global-container" id="payment-global-container">
    <div class="container">
        <div class="celeb-user">
            <p style="text-align: left;font-size: 2rem;font-weight: bold;">Payment info</p>
            <div class="delivery-type-container">
                <p class="payment-section-heading">Choose you delivery</p>
                <div class="form-check delivery-section-typography">
                    <input  @click="toggleStandard" checked class="form-check-input delivery-radio" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Standard delivery (Free)<br>
                        <span class="delivery-section-subtitle">2-7 Days</span>
                    </label>
                </div>
                <div class="form-check delivery-section-typography">
                    <input @click="toggleExpress" class="form-check-input delivery-radio" type="radio" name="flexRadioDefault"
                        id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Get it delivered in one day!(+$100)<br>
                        <span class="delivery-section-subtitle">Less than 24Hrs</span>
                    </label>
                </div>
            </div>
            <div class="summary-container" style="margin-top: 2rem;">
                <div class="summary-heading-container">
                    <div class="cut-left"></div>
                    <div class="cut-right"></div>
                    <p style="margin: 0px;" class="payment-section-heading">Summary</p>
                </div>
                <div class="summary-body-container">
                    <div class="receipt-row">
                        <p>Classic Cameo</p>
                        <p>{{booking.currency_code}} {{booking.price}}</p>
                    </div>
                    <div v-if="delivery_type == 'express'" class="receipt-row">
                        <p>Expedited Cameo</p>
                        <p>USD 100</p>
                    </div>
                    <div class="receipt-row">
                        <p>Service fee</p>
                        <p>{{booking.currency_code}} [[service_fee]]</p>
                    </div>
                    <hr style="margin: 0px;margin-bottom:10px;height: 2px;">
                    <div style="font-size: 1.5rem;font-weight: bold;color: rgb(69, 255, 255);" class="receipt-row">
                        <p>Total</p>
                        <p>{{booking.currency_code}} [[total]]</p>
                    </div>
                </div>
            </div>
            <div class="summary-container" style="margin-top: 2rem;">
                <div class="summary-heading-container">
                    <div class="cut-left"></div>
                    <div class="cut-right"></div>
                    <p style="margin: 0px;" class="payment-section-heading">Payment method</p>
                </div>
                <div class="summary-body-container">
                    <div style="font-size: 1.1rem;" class="form-check">
                        <input checked class="form-check-input delivery-radio" @click="toggleStripe" type="radio"
                            name="paymenttype" id="stripe">
                        <label class="form-check-label" for="stripe">
                            Stripe
                        </label>
                    </div>
                    <div style="font-size: 1.1rem;margin-top: 1.5rem;" class="form-check">
                        <input class="form-check-input delivery-radio" @click="togglePaypal" type="radio"
                            name="paymenttype" id="paypal">
                        <label style="margin:0px ;" class="form-check-label" for="paypal">
                            Paypal
                        </label>
                    </div>
                    <div style="display: grid;place-items: center; margin-top: 1rem;">
                        <form v-if="payment_method == 'stripe'" method="POST">
                            {% csrf_token %}
                            <input value="stripe" hidden type="text" name="payment_method">
                            <button class="btn payment-button btn-primary">Stripe</button>
                        </form>
                        <form v-if="payment_method == 'paypal'" method="POST">
                            {% csrf_token %}
                            <input value="paypal" hidden type="text" name="payment_method">
                            <button v-if="payment_method == 'paypal'" class="btn payment-button btn-primary">Paypal</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script defer>
    var paymentVue = new Vue({
        el: '#payment-global-container',
        delimiters: ["[[","]]"],        
        data: {
            payment_method: "stripe",
            delivery_type: "standard",
            service_fee: 0,
            total: 0
        },
        created: function(){
            var cameoPrice = Number.parseFloat("{{booking.price}}")
            this.service_fee = (cameoPrice/100)*5
            this.total = cameoPrice + this.service_fee
            console.log(typeof(this.total))  
        },
        watch: {
            delivery_type: function(newVal, oldVal){
                if(newVal == 'express'){
                    this.total += 100;
                } else if(newVal = 'standard'){
                    var cameoPrice = Number.parseFloat("{{booking.price}}")
                    this.total = cameoPrice + this.service_fee
                }
            },
        },
        methods: {
            toggleStripe: function () {
                this.payment_method = 'stripe'
                console.log(this.payment_method);
            },
            togglePaypal: function () {
                this.payment_method = 'paypal'
                console.log(this.payment_method);
            },
            toggleExpress: function (){
                this.delivery_type = 'express'
            },
            toggleStandard: function () {
                this.delivery_type = 'standard'
            }
        }
    })
</script>

{% endblock %}